body {
  text-align: center;
  background: #222;
  margin-top: 50px;
  
  /* Prevent text selection and long-press callouts */
  -webkit-user-select: none; /* Safari */
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  touch-action: none; /* Prevent gestures like double-tap zoom, etc */
}
